<!DOCTYPE html>
<html>
  <head>
    <title>Event results for <%=searchTerm%></title>
  </head>
  <body>
      <table>
        <thead>
          <td>Name</td>
          <td>Description</td>
          <td>Image</td>
        </thead>
        
      <% for(var i=0; i < events.length; i++) { %>
        <tr>
          <td><%= events[i].name.fi %></td>

          <% if(events[i].short_description != null) { %>
          <td>
            <%= events[i].short_description.fi %></td>
          <%} 
          else { %>
            <td>No description available</td> 
          <%} %>

        </tr>
      <% } %>
      </table>
      
  </body>
</html>