<!DOCTYPE html>
<html>
  <head>
    <title>Event results for </h1>
  </head>
  <body>

    <table>
      <thead>
        <td>Name</td>
        <td>Description</td>
        <td>Image</td>
      </thead>

    </table>

  </body>
</html>