<!DOCTYPE html>
<html>
  <head>
    <title>Search in #HEL</title>
  </head>
  <body>
    <h1>Search for events in Helsinki</h1>

    <form method="post" action="/events/post">
      <label for="searchText">Event name</label>
      <input type="text" id="searchText" name="searchText" />
      <button type="submit">Search</button>
    </form>
    
  </body>
</html>